* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* overflow: auto; */
    
  }
  
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    background-color: black;
    margin: 0;
    padding-top: 50px;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow: none;
  }
  
  div.content {
    margin-left: 300px;
    /* padding: 1px 16px; */
    /* height: 1000px; */
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
  }
  
  .img1 {
    border-radius: 60px;
    border: 9px solid rgb(43, 40, 40);
  }
  
  .alex {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10px;
  }
  
  .icon {
    color: white;
    background-color: rgb(43, 40, 40);
    padding: 10px;
    border-radius: 50%;
  }
  
  .icon:hover {
    background-color: rgb(0, 255, 255);
  }
  
  .nav ul,
  li a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 15px;
  }
  
  .nav ul li {
    line-height: 50px;
  }
  
  .nav {
    padding-top: 20px;
  }
  
  .b:active {
    color: white;
  }
  .sanxit{
    text-decoration: none;
  }
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container h1{
    font-size: 40px;
    font-weight: 600;
  }
  .autotype{
    color: gold;
  }
  .bg{
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 40, 40);
  }
  .ii{
    align-items: center;
  }
  .age{
    padding-left: 300px;
  }